
.form-item {
  padding: 13px 13px;
  animation: slide-up-additional 0.4s ease;
  background: rgba(255, 255, 255, 0.6);
  margin-bottom: 21px;
  border-radius: 13px;
  transition: all 0.4s ease-out;
  &:first-of-type {
    animation: show-up 0.4s ease;
    .close {
      display: none;
    }
  }
  &:nth-child(odd) {
    background: rgba(255, 255, 255, 0.8);
  }
}

.error-item {
  background-color: rgba(227, 52, 47, 0.1);
}

.items-container {
  transition: all 1s ease;
}

.autocomplete {
  position: relative !important;
  > div {
    position: relative !important;
    > div {
      z-index: 99999999 !important;
      position: absolute !important;
      left: 0 !important;
      top: 37px !important;
      overflow: scroll !important;
      overflow-x: hidden !important;
      height: auto !important;
      padding: 0 !important;
      max-height: 400px !important;
    }
  }
  .suggestion {
    padding: 8px 12px !important;
  }
}

.hidden {
  display: none;
}

@keyframes show-up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;

  }
}

@keyframes slide-up-additional {
  0% {
    opacity: 0;
    transform: translateY(-10px);
    height: 0;
  }
  50% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    height: 193px;
  }
}
